form{
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    width: 17%;
}
#imie_label{
    margin-right: 10.8%;
}
#email_label{
    margin-right: 8%;
}
#password_label{
    margin-right: 8.2%;
}
#c_password{
    width: 40%;
}