form{
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    width: 17%;
}
#opis{
    margin-left: 4.4%;
    width: 54%;
}
#cena_label{
    margin-right: 3.6%;
}
#stan_label{
    margin-right: 5%;
}